1 VERSIONINFO
FILEVERSION     0,16
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "OriginalFilename", "my_app.exe"
      VALUE "ProductName", "Mandelbrot set"
      VALUE "ProductVersion", "1.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
id ICON "res/icon.ico"